body{
    background-image: url("Images/grigio.jpg");
    background-attachment: fixed;
    background-size: 1920px 1080px;
    }
    
    @font-face {
        font-family: 'pt_sansregular';
        src: url('PTS55F-webfont.eot') format('embedded-opentype'),
             url('PTS55F-webfont.woff') format('woff'),
             url('PTS55F-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'alex brush';
        src: url('AlexBrush-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'tickle gun';
        src: url('Tickle\ Gun.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'bronx';
        src: url('Bronx.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    @media all and (max-width: 1024px){
        aside{
            display: block;
            width: auto;
        }
        #contenu{
            width: auto;
        }
    }
    
    h1{
       color: rgba(175, 10, 32, 0.918);
       font-size: 5em;
       text-align:center;
       font-family: 'tickle gun', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
       margin: auto;
    }
    
    .titre2{
        color: rgba(175, 10, 32, 0.918);
        font-size: 2em;
        text-align: center;
        font-family: 'alex brush', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        margin-top: 5px;
    }
    
    aside h2{
        color: rgb(23, 77, 158);
        font-size: 25px;
        font-family: 'bronx', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        padding: 8px;
        text-align: center;
    }
    
    ul{
        text-align: justify;
        font-size: 18px;
        font-family: 'pt_sansregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .imgID{
        float: right;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgb(231, 174, 96);
        margin-right: 20px;
        margin-top: 10px;
        width: 110px;
        height: 110px;
        object-fit: cover;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    
    .imgID:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .logo{
        float: left;
        box-shadow: 2px 2px 2px 2px rgb(198, 52, 9);
        border-radius: 50%;
        width: 110px;
    }
    
    .logo:hover{
        animation-name: logo;
        animation-duration: 5000ms;
    }
    
    @keyframes logo {
        0% {
            transform: scale(1);
        }
        17% {
            transform: scale(1.10);
        }
        24% {
            transform: scale(1.00);
        }
        46% {
            transform: scale(1.10);
        }
        100% {
            transform: scale(1.15);
        }
    } 
    
    aside{
        display: inline-table;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        vertical-align: top;
        width: 700px;
        height: 100px;
        margin-right: 22px;
        padding: 4px;
    }
    
    .menu{
        font-family: 'pt_sansregular';
        display: flex;
        justify-content: space-between;
    }
    