body{
    background-image: url("Images/grigio.jpg");
    background-attachment: fixed;
    background-size: 1920px 1080px;
    }
    
    @font-face {
        font-family: 'pt_sansregular';
        src: url('PTS55F-webfont.eot') format('embedded-opentype'),
             url('PTS55F-webfont.woff') format('woff'),
             url('PTS55F-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'alex brush';
        src: url('AlexBrush-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'tickle gun';
        src: url('Tickle\ Gun.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'bronx';
        src: url('Bronx.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    #Exp {
        -webkit-transition: .8s ease-in-out;
        transition: .8s ease-in-out;
    }
    #Exp:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    #Comp {
        -webkit-transition: .8s ease-in-out;
        transition: .8s ease-in-out;
    }
    #Comp:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    } 
    #Form {
        -webkit-transition: .8s ease-in-out;
        transition: .8s ease-in-out;
    }
    #Form:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    } 
    #Proj {
        -webkit-transition: .8s ease-in-out;
        transition: .8s ease-in-out;
    }
    #Proj:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    p, li{
        text-align: justify;
        font-size: 18px;
        font-family: 'pt_sansregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1{
        color: rgba(175, 10, 32, 0.918);
        font-size: 7em;
        text-align: center;
        font-family: 'tickle gun', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        margin: auto;
        margin-top: 30px;
     }
     
     .signature{
         color: rgba(175, 10, 32, 0.918);
         font-size: 2em;
         text-align: center;
         font-family: 'alex brush', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
         margin-top: 5px;
         margin-left: 170px;
     }
     
      .imgID{
        float: right;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgba(231, 174, 96, 0.8);
        margin-right: 70px;
        margin-top: 10px;
        width: 110px;
        height: 110px;
        object-fit: cover;
        -webkit-transition: .7s ease-in-out;
        transition: .7s ease-in-out;
    }
    
    .imgID:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .logo{
        float: left;
        box-shadow: 2px 2px 2px 2px rgb(198, 52, 9);
        border-radius: 50%;
        width: 110px;
        margin-left: 40px;
        margin-top: 10px;
    }
    
    .logo:hover{
        animation-name: logo;
        animation-duration: 5000ms;
    }
    
    @keyframes logo {
        0% {
            transform: scale(1);
        }
        17% {
            transform: scale(1.10);
        }
        24% {
            transform: scale(1.00);
        }
        46% {
            transform: scale(1.10);
        }
        64% {
            transform: scale(1.15);
        }
        100% {
            transform: scale(1.20);
        }
    } 
    
    
    .menu{
        font-family: 'pt_sansregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        font-size: 20px;
        color: rgb(204, 56, 97);
        border: solid 6px blanchedalmond;
        border-radius: 5px;
        padding-right: 35px;
        display: flex;
        justify-content: space-between;
        width: 50%;
        top: auto;
        margin: auto;
        list-style-type: none;
    }
    
    a:link{
        text-decoration:none; 
    } 

    .moi{
        width: 50%;
        top: auto;
        margin: 0 25%;
    }
    
    h3{
        color: rgba(175, 10, 32, 0.918);
        font-size: 35px;
        font-family: 'bronx', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        padding: 8px;
        text-align: center;
        border: rgba(175, 10, 32, 0.918);
        box-shadow: 2px 2px 2px 2px rgb(204, 56, 97);
        width: 100%;
    }
    
    section h2{
        color: rgb(23, 77, 158);
        font-size: 25px;
        font-family: 'bronx', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        padding: 8px;
        text-align: center;
        box-shadow: 2px 2px 2px 2px rgb(204, 56, 97);
        border-radius: 10px;
        width: 100%;
    }
   
    section{
        display: inline-table;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        vertical-align: top;
        width: 40%;
        height: 100px;
        padding: 4px;
        margin-left: 50px;
        margin-right: 20px;
    }
    
    #imgcomp{
        width: 20%;
        margin-right: 80px;
    }
    
    footer{
        background-image: url("Images/lodyas.png");
        opacity: 0.8;
        box-shadow: 5px 5px 5px 5px;
        margin-top: 20px;
    }
    
    h4{
        font-family: 'pt_sansregular';
        font-size: x-large;
        text-align: center;
        color: whitesmoke;
        width: 20%;
        margin: auto;
        margin-bottom: 15px;
        padding-top: 10px;
    }
    
    .logos{
        text-align: center;
        padding: 15px;
    }
    
    .fa-facebook, .fa-instagram, .fa-linkedin, .fa-facebook-messenger{
        font-size: 50px;
        color: whitesmoke;
        text-align: center;
        margin-right: 50px;
    }
    
    .fa-facebook:hover{
        transform: scale(1.1)
    }
    .fa-instagram:hover{
        transform: scale(1.1)
    }
    .fa-linkedin:hover{
        transform: scale(1.1)
    }
    .fa-facebook-messenger:hover{
        transform: scale(1.1)
    }