@media all and (max-width: 1024px){
    body{
        background-image: url("../Images/grigio.jpg");
        background-attachment: fixed;
        background-size: cover;
    }
    
    html{
        scroll-behavior: smooth;
    }

    section{
        display: block;
        width: auto;
        height: auto;
    }

    #menu{
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: start;
    }

    nav li {
        margin-right: 15px;
    }

    .fa-facebook, .fa-instagram, .fa-linkedin, .fa-facebook-messenger{
        font-size: 35px;
        color: whitesmoke;
        text-align: center;
        margin-right: 30px;
    }

    #moi h2{
        text-align: center;
    }

    h4{
        text-align: center;
        font-size: 12px;
        margin: auto;
    }
   
    p, li{
        font-size: auto;
    }

    section { 
        width: 85%; 
        top: auto; 
        margin: 0 7%; 
    }
    
    #moi {
        width: 70%; 
        top: auto; 
        margin: 0 13%;
    }

    .logos{
        margin-left: 38px;
    }

    #copyright{
        font-size: 10px;
    }
}