@media all and (max-width: 1024px){
    body{
        background-image: url("../Images/grigio.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

    html{
        scroll-behavior: smooth;
    }
    
    .menu{
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: start;
        width: 30%;
    }

    nav li {
        margin-right: 15px;
    }

    .fa-facebook, .fa-instagram, .fa-linkedin, .fa-facebook-messenger{
        font-size: 50px;
        color: whitesmoke;
        text-align: center;
        margin-right: 30px;
    }

    h2{
        text-align: center;
        font-size: 18px;
    }

    h3{
        text-align: center;
        font-size: 12px;
        margin: auto;
    }
   
    p, li{
        font-size: 15px;
    }
  
    .logos{
        margin-left: 38px;
    }

    #accueil{
        font-size: 9px;
    }
}