body {
  background-image: url("../Images/grigio.jpg");
  background-attachment: fixed;
  background-size: 1920px 1080px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "pt_sansregular";
  src: url("../Font/PTS55F-webfont.eot") format("embedded-opentype"),
    url("../Font/PTS55F-webfont.woff") format("woff"),
    url("../Font/PTS55F-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alex brush";
  src: url("../Font/AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tickle gun";
  src: url("../Font/Tickle\ Gun.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bronx";
  src: url("../Font/Bronx.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#Exp {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
#Exp:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#Comp {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
#Comp:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#Form {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
#Form:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#Proj {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
#Proj:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

p,
li {
  text-align: justify;
  font-size: 18px;
  font-family: "pt_sansregular", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: rgba(175, 10, 32, 0.918);
  font-size: 8em;
  text-align: center;
  font-family: "tickle gun", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: auto;
  margin-top: 30px;
}

.signature {
  color: rgba(175, 10, 32, 0.918);
  font-size: 2em;
  text-align: center;
  font-family: "alex brush", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 5px;
  margin-left: 170px;
}

.imgID {
  float: right;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(231, 174, 96, 0.8);
  margin-right: 70px;
  margin-top: 10px;
  width: 110px;
  height: 110px;
  object-fit: cover;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.imgID:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.logo {
  float: left;
  box-shadow: 2px 2px 2px 2px rgb(198, 52, 9);
  border-radius: 50%;
  width: 110px;
  margin-left: 40px;
  margin-top: 10px;
}

.logo:hover {
  animation-name: logo;
  animation-duration: 5000ms;
}

@keyframes logo {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.1);
  }
  24% {
    transform: scale(1);
  }
  46% {
    transform: scale(1.1);
  }
  64% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.2);
  }
}

#menu {
  font-family: "pt_sansregular", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: rgb(204, 56, 97);
  border: solid 6px blanchedalmond;
  border-radius: 5px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  top: auto;
  margin: auto;
  list-style-type: none;
}

#menu a {
  color: rgb(23, 77, 158);
}

a:link {
  text-decoration: none;
}

#moi {
  width: 50%;
  margin: 0 25%;
  
}

#moi h2 {
  color: rgba(175, 10, 32, 0.918);
  font-size: 35px;
  font-family: "bronx", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 8px;
  text-align: center;
  border: rgba(175, 10, 32, 0.918);
  box-shadow: 2px 2px 2px 2px rgb(204, 56, 97);
  width: 100%;
  text-shadow: 2px 2px rgb(215 199 201 / 92%);
}

#prop {
  width: 100%;
  top: auto;
  margin: 0 1%;
}

section h2 {
  color: rgb(23, 77, 158);
  font-size: 25px;
  font-family: "bronx", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 8px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgb(204, 56, 97);
  border-radius: 10px;
  width: 100%;
}

section {
  display: inline-table;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: top;
  width: 40%;
  height: 100px;
  padding: 4px;
  margin-left: 60px;
  margin-right: 20px;
}

h3 {
  text-align: justify;
  font-size: 18px;
  font-family: "bronx", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.imgcomp1 {
  width: 40%;
  margin-top: 5px;
  margin-right: 25px;
}

.imgcomp2 {
  width: 35%;
  margin-top: 5px;
}

.imgcomp3 {
  width: 30%;
  margin-left: 35%;
  margin-top: 5px;
}

#imginf {
  display: inline-flex;
  justify-content: center;
}

footer {
  background-image: url("../Images/lodyas.png");
  opacity: 0.8;
  box-shadow: 5px 5px 5px 5px;
  margin-top: 20px;
}

footer a {
  color: whitesmoke;
  text-shadow: 3px 3px black;
}

h4 {
  font-family: "pt_sansregular";
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  margin: auto;
  padding-top: 10px;
  text-shadow: 3px 3px black;
}

.logos {
  text-align: center;
  padding: 15px;
  margin-left: 55px;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-facebook-messenger {
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  margin-right: 50px;
  text-shadow: 3px 3px black;
}

#copyright {
  display: block;
  font-size: 15px;
  font-family: "pt_sansregular", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
  text-align: center;
  margin-right: auto;
  padding-bottom: 5px;
  text-shadow: 3px 3px black;
}

.fa-facebook:hover {
  transform: scale(1.1);
}
.fa-instagram:hover {
  transform: scale(1.1);
}
.fa-linkedin:hover {
  transform: scale(1.1);
}
.fa-facebook-messenger:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  body {
    background-image: url("../Images/grigio.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

  html {
    scroll-behavior: smooth;
  }

  section {
    display: block;
    width: auto;
    height: auto;
  }

  h1 {
    font-size: 6em;
  }

  #menu {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
  }

  nav li {
    margin-right: 15px;
  }

  .fa-facebook,
  .fa-instagram,
  .fa-linkedin,
  .fa-facebook-messenger {
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    margin-right: 30px;
  }

  #moi h2 {
    text-align: center;
    font-size: 25px;
  }

  h4 {
    text-align: center;
    font-size: 12px;
    margin: auto;
  }

  p,
  li {
    font-size: auto;
  }

  section {
    width: 85%;
    top: auto;
    margin: 0 7%;
  }

  #moi {
    width: 70%;
    top: auto;
    margin: 0 13%;
  }

  .logos {
    margin-left: 38px;
  }

  #copyright {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 650px) {
  :is(.logo, .imgID) {
    transform: scale(0.5);
    margin: 0px;
  }

  h1 {
    font-size: 2em;
  }

  .signature {
    font-size: 1em;
    margin-left: 0px;
  }

  #menu {
    margin-top: 80px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }

  :is(.logo, .imgID) {
    transform: scale(0.5);
    margin: 0px;
  }

  .signature {
    font-size: 1em;
    margin-left: 0px;
  }
}

/* @media speech aide l'asistant vocale à lire notre site  */
