@charset "UTF-8";
.contain-all-articles {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.contain-all-articles .contain-article {
    display: flex;
    flex-direction: column;
    font-family: "pt_sansregular", "Trebuchet MS", "Lucida Sans Unicode",
        "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    flex-wrap: wrap;
    box-shadow: 6px 6px 6px 6px rgba(94, 27, 6, 0.25);
    background-color: rgba(245, 237, 239, 0.808);
}

.contain-all-articles .contain-article .title,
.contain-all-articles .contain-article .content,
.contain-all-articles .contain-article .link {
    border: solid 3px rgba(255, 235, 205, 0.603);
    font-size: auto;
    padding: 10px;
    max-width: 538px;
}

.contain-all-articles .contain-article .title {
    font-family: "bronx", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    color: rgba(175, 10, 32, 0.918);
    text-shadow: 2px 2px rgba(215, 199, 201, 0.92);
    text-align: center;
}

.contain-all-articles .contain-article .image img {
    width: 558px;
    height: 350px;
    border: solid 3px rgba(255, 235, 205, 0.603);
    background-color: rgba(245, 237, 239, 0.808);
}

.contain-all-articles .contain-article .link {
    text-align: end;
    font-weight: bold;
    text-shadow: 1px 1px rgba(29, 27, 27, 0.2);
}

.contain-all-articles .contain-article a {
    color: rgb(23, 77, 158);
}

.contain-all-articles .contain-article .content {
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    body {
        background-image: url("/Images/grigio.jpg");
        background-attachment: fixed;
        background-size: cover;
    }
    h1 {
        font-size: 3em;
    }
    .contain-article {
        display: block;
    }
    .contain-all-articles .contain-article .title,
    .contain-all-articles .contain-article .content,
    .contain-all-articles .contain-article .link {
        max-width: 380px;
    }
    .contain-all-articles .contain-article .image img {
        width: 400px;
        height: 300px;
    }
    .title {
        font-family: "bronx", "Trebuchet MS", "Lucida Sans Unicode",
            "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 15px;
        color: rgba(175, 10, 32, 0.918);
        text-shadow: 2px 2px rgba(215, 199, 201, 0.92);
        text-align: center;
    }
    .fa-facebook,
    .fa-instagram,
    .fa-linkedin,
    .fa-facebook-messenger {
        font-size: 35px;
        color: whitesmoke;
        text-align: center;
        margin-right: 30px;
    }
    h4 {
        text-align: center;
        font-size: 12px;
        margin: auto;
    }
    .logos {
        margin-left: 38px;
    }
    #copyright {
        font-size: 10px;
    }
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 3em;
    }
    .contain-article {
        width: 563px;
    }
    .contain-article {
        display: block;
        width: 405px;
    }
    .contain-all-articles .contain-article .title,
    .contain-all-articles .contain-article .content,
    .contain-all-articles .contain-article .link {
        max-width: 380px;
    }
    .contain-all-articles .contain-article .image img {
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 650px) {
    :is(.logo, .imgID) {
        transform: scale(0.5);
        margin: 0px;
    }
    h1 {
        font-size: 2em;
    }
    .contain-article {
        display: block;
        width: 300px;
    }
    .contain-all-articles .contain-article .title,
    .contain-all-articles .contain-article .content,
    .contain-all-articles .contain-article .link {
        max-width: 277px;
    }
    .contain-all-articles .contain-article .image img {
        width: 296px;
        height: 240px;
    }
}
@media screen and (max-width: 320px) {
    h1 {
        font-size: 2em;
    }
    :is(.logo, .imgID) {
        transform: scale(0.5);
        margin: 0px;
    }
}
/* @media speech aide l'asistant vocale à lire notre site  */
